<section>
  <div class="content-area">
    <ion-label class="head">All Orders</ion-label>
    <ion-label style="position: absolute;
    top: 14px;
    right: 250px;
    z-index: 10;
    font-weight: bold;">Filter</ion-label> <select style="width: 200px;
    background-color: rgb(239, 239, 239);
    border-radius: 5px;
    position: absolute;
    top: 14px;
    right: 40px;color: black;" [(ngModel)]="FilterStage" (change)="FilterbyStage($event)">
      <option value="{{item.stage}}" *ngFor="let item of PatientStage" style="color: black;">{{item.stage}}</option>
    </select>
    <br><br>

    <div class="content-bar" style="background: #009cff;">
      <div class="itemtitle" style="color: white;">Patient ID</div>
      <div class="itemprice" style="color: white;">Name</div>
      <div class="itemtitle" style="color: white;">Order ID</div>
      <div class="itemstock" style="color: white;">Order value</div>
      <div class="itemstock" style="color: white;">Prescribed Date</div>
    </div>

    <div class="content-bar" *ngFor="let item of AllOrders;let i = index" style="position: relative;">
      <div class="itemtitle">{{item.id}}</div>
      <div class="itemprice">{{item.name}}</div>
      <div class="itemtitle">OID-{{i+4}}</div>
      <div class="itemprice">{{(i+1) * 100}}</div>
      <div class="itemprice">{{item.Exp}}</div>
      <div
        style="width: 50px;height: 100%;background-color: #dedede;display: flex;align-items: center;justify-content: center;position: absolute;right: 0;"
        (click)="PrescriptionDetails=true">
        <ion-icon name="arrow-forward-circle-outline" style="color: black;font-size: 20px;"></ion-icon>
      </div>
    </div>
  </div>


  <div class="form-popup-bg" *ngIf=ActionPopup>
    <div (click)="ActionPopup=false"
      style="width: calc(100% -  195px);height: 100%;position: fixed;top: 0;left: 195px;"></div>
    <div class="form-container">
      <button id="btnCloseForm" class="close-button" (click)="ActionPopup=false" style="color: #0fa2ff;">X</button>
      <h1 style="margin: 10px;text-align: center;
      color: #0fa2ff;">New Inventory</h1>
      <form action="">
        <div class="form-group" *ngIf="Addpage==1">
          <label for="">Inventory-Name</label>
          <input type="text" class="form-control" placeholder="Inventory-Name" style="font-size: 10px;" />
        </div>
        <div class="form-group" *ngIf="Addpage==1">
          <label for="">Category</label>
          <input class="form-control" type="text" placeholder="Category" style="font-size: 10px;" />
        </div>
        <div class="form-group" *ngIf="Addpage==1">
          <label for="">Manufacturer</label>
          <input class="form-control" type="text" placeholder="Manufacturer" style="font-size: 10px;" />
        </div>
        <div class="form-group" *ngIf="Addpage==1">
          <label for="">Batch</label>
          <input class="form-control" type="text" placeholder="Batch" style="font-size: 10px;" />
        </div>

        <!-- *************02************ -->

        <div class="form-group" *ngIf="Addpage==2">
          <label for="">Expiry Date</label>
          <input type="text" class="form-control" placeholder="Expiry Date" style="font-size: 10px;" />
        </div>
        <div class="form-group" *ngIf="Addpage==2">
          <label for="">Unit</label>
          <input class="form-control" type="text" placeholder="Unit" style="font-size: 10px;" />
        </div>
        <div class="form-group" *ngIf="Addpage==2">
          <label for="">Unit Price</label>
          <input class="form-control" type="text" placeholder="Unit Price" style="font-size: 10px;" />
        </div>
        <div class="form-group" *ngIf="Addpage==2">
          <label for="">Manufacture Date</label>
          <input class="form-control" type="text" placeholder="Manufacture Date" style="font-size: 10px;" />
        </div>

        <button style="padding: 10px;
        font-size: 13px;
        border-radius: 4px;
        text-align: center;
        display: flex;
        justify-content: center;
        float: inline-end;margin-top: 15px;" (click)="Addpage=2" *ngIf="Addpage==1">Next</button>

        <button style="padding: 10px;
        font-size: 13px;
        border-radius: 4px;
        text-align: center;
        display: flex;
        justify-content: center;
        float: inline-end;margin-top: 15px;" *ngIf="Addpage==2">Submit</button>

        <button style="padding: 10px;
font-size: 13px;
border-radius: 4px;
text-align: center;
display: flex;
justify-content: center;
float: inline-end;margin-top: 15px;margin-right: 12px;" *ngIf="Addpage==2" (click)="Addpage=1">Back</button>
      </form>
    </div>
  </div>


  <div id="myModal" class="modal" *ngIf="deleteAlert" style="display: flex;">
    <div class="modal-dialog modal-confirm"
      style="width: calc(100% - 195px) !important;
    left: 195px !important;margin: 0;display: flex;align-items: center;justify-content: center;max-width:100%;background: #00000047;">
      <div class="modal-content" style="width: 300px !important;">
        <div class="modal-header" style="position: relative;">
          <div class="icon-box" style="position: absolute;right: 10px;">
            <ion-icon name="trash-outline" style="font-size: 30px;"></ion-icon>
          </div>
          <h4 class="modal-title" style="margin-top: 0px;">Are you sure?</h4>
          <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
        </div>
        <div class="modal-body">
          <p>Do you really want to delete this Inventory ? This process cannot be undone.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal" (click)="Buttons()"
            style="line-height: 17px;background: #b1b1b1;">Cancel</button>
          <button type="button" class="btn btn-danger" (click)="Buttons()" style="line-height: 17px;">Delete</button>
        </div>
      </div>
    </div>
  </div>



  <div class="form-popup-bg" *ngIf=EditActionPopup>
    <div (click)="EditActionPopup=false"
      style="width: calc(100% -  195px);height: 100%;position: fixed;top: 0;left: 195px;"></div>
    <div class="form-container">
      <button id="btnCloseForm" class="close-button" (click)="EditActionPopup=false" style="color: #0fa2ff;">X</button>
      <h1 style="margin: 10px;text-align: center;
      color: #0fa2ff;">Update Inventory</h1>
      <form action="">
        <div class="form-group">
          <label for="">Inventory-Name</label>
          <input type="text" class="form-control" placeholder="Inventory-Name" style="font-size: 10px;"
            value="{{EditInventoryData.productName}}" />
        </div>
        <div class="form-group">
          <label for="">Category</label>
          <input class="form-control" type="text" placeholder="Category" style="font-size: 10px;"
            value="{{EditInventoryData.category}}" />
        </div>
        <div class="form-group">
          <label for="">Manufacturer</label>
          <input class="form-control" type="text" placeholder="Manufacturer" style="font-size: 10px;"
            value="{{EditInventoryData.ManufactursList}}" />
        </div>
        <div class="form-group">
          <label for="">Batch</label>
          <input class="form-control" type="text" placeholder="Batch" style="font-size: 10px;" value="2" />
        </div>

        <button style="padding: 10px;
        font-size: 13px;
        border-radius: 4px;
        text-align: center;
        display: flex;
        justify-content: center;
        float: inline-end;margin-top: 15px;">Submit</button>
      </form>
    </div>
  </div>




  <div *ngIf="PrescriptionDetails" class="PrescriptionDet">
    <div style="width: calc(100% - 195px);height: 100%;position: fixed;top: 0;left: 195px;z-index: -1;"
      (click)="PrescriptionDetails=false"></div>

    <div class='wrapper'>
      <div class='unodos'>
        <div class='wrapper-main'>

          <div class='contenedor-totales'>
            <div class='main-table-containter'>
              <div class='title-table-container' style="padding: 10px 0 !important;">
                <div class='subtitle'
                  style="margin: 0;display: flex;align-items: center;justify-content: center;gap: 10px;">
                  <ion-icon name="arrow-back-outline" (click)="PrescriptionDetails=false"
                    style="cursor: pointer;"></ion-icon>
                  Medical Prescription
                </div>
                <button class='select-button' style="font-size: 10px;
                margin: 0;"> Order ID : MI-007 </button>
              </div>
              <div style="width: 100%;height: 100%;">
                <table style="height: 100%;">
                  <tbody style="border: 1px solid #3398ff;">

                    <tr style="background: #3398ff;
                    color: white;">
                      <td>
                        Batch
                      </td>
                      <td>Type</td>
                      <td>Name</td>
                      <td>Dose</td>
                      <td>
                        <div>Frequency</div>
                      </td>
                      <td>Exp Date</td>
                      <td>
                        Quantity
                      </td>
                      <td>
                        Duration
                      </td>
                      <td>
                        <input type="checkbox" (change)="AllCheck($event)">
                      </td>
                    </tr>


                    <tr>
                      <td>
                        <div class='icono-texto'>
                          <div>1</div>
                        </div>
                      </td>
                      <td>
                        <div>Tablet</div>
                      </td>
                      <td>Brufen</td>
                      <td>400mg</td>
                      <td>1 - 1 - 0</td>
                      <td>25 Apr 2024</td>
                      <td>
                        <input type="text" value="6" style="width: 30px;
                        border: 1px solid grey;
                        text-align: center;
                        border-radius: 3px;">
                      </td>
                      <td>
                        <input type="text" value="3" style="width: 30px;
                        border: 1px solid grey;
                        text-align: center;
                        border-radius: 3px;">&nbsp;Days
                      </td>
                      <td>
                        <input type="checkbox" [checked]="AllCheckBox">
                      </td>
                    </tr>
                    <tr style="background: #009cff24 !important;">
                      <td>
                        <div class='icono-texto'>
                          <div>1</div>
                        </div>
                      </td>
                      <td>
                        <div>Tablet</div>
                      </td>
                      <td>Aspirin</td>
                      <td>400mg</td>
                      <td>1 - 0 - 2</td>
                      <td>9 Apr 2024</td>
                      <td><input type="text" value="15" style="width: 30px;
                        border: 1px solid grey;
                        text-align: center;
                        border-radius: 3px;"></td>
                      <td><input type="text" value="5" style="width: 30px;
                        border: 1px solid grey;
                        text-align: center;
                        border-radius: 3px;">&nbsp;Days</td>
                      <td>
                        <input type="checkbox" [checked]="AllCheckBox">
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class='icono-texto'>
                          <div>4</div>
                        </div>
                      </td>
                      <td>
                        <div>Tablet</div>
                      </td>
                      <td>Crosin</td>
                      <td>400mg</td>
                      <td>1 - 0 - 2</td>
                      <td>30 Apr 2024</td>
                      <td><input type="text" value="6" style="width: 30px;
                        border: 1px solid grey;
                        text-align: center;
                        border-radius: 3px;"></td>
                      <td><input type="text" value="2" style="width: 30px;
                        border: 1px solid grey;
                        text-align: center;
                        border-radius: 3px;">&nbsp;Days
                      </td>
                      <td>
                        <input type="checkbox" [checked]="AllCheckBox">
                      </td>
                    </tr>
                    <tr style="background: #009cff24 !important;">
                      <td>
                        <div class='icono-texto'>
                          <div>2</div>
                        </div>
                      </td>
                      <td>
                        <div>Tablet</div>
                      </td>
                      <td>Action 500</td>
                      <td>400mg</td>
                      <td>1 - 1 - 0</td>
                      <td>12 Apr 2024</td>
                      <td><input type="text" value="10" style="width: 30px;
                        border: 1px solid grey;
                        text-align: center;
                        border-radius: 3px;"></td>
                      <td><input type="text" value="5" style="width: 30px;
                        border: 1px solid grey;
                        text-align: center;
                        border-radius: 3px;">&nbsp;Days</td>
                      <td>
                        <input type="checkbox" [checked]="AllCheckBox">
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <div class='icono-texto'>
                          <div>3</div>
                        </div>
                      </td>
                      <td>
                        <div>Tablet</div>
                      </td>
                      <td>Heal</td>
                      <td>400mg</td>
                      <td>1 - 1 - 0</td>
                      <td>15 June 2024</td>
                      <td>
                        <input type="text" value="6" style="width: 30px;
                        border: 1px solid grey;
                        text-align: center;
                        border-radius: 3px;">
                      </td>
                      <td>
                        <input type="text" value="3" style="width: 30px;
                        border: 1px solid grey;
                        text-align: center;
                        border-radius: 3px;">&nbsp;Days
                      </td>
                      <td>
                        <input type="checkbox" [checked]="AllCheckBox">
                      </td>
                    </tr>


                  </tbody>
                </table>
                <div style="width: 100%;display: flex;align-items: center;justify-content: flex-end;">
                  <div style="padding: 3px 6px;margin: 20px 0 0 0;
                background: #3880ff;
                border-radius: 3px;
                display: flex;
                align-items: center;
                justify-content: center;" (click)="PrescriptionDetails=false">
                    <ion-label style="font-size: 12px;font-weight: 300;color: white;">Delivered</ion-label>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class='right wrapper-main' style="height: 100%;
        border-left: 1px solid grey;">
          <div class='contactos' style="margin-top: 40px">
            <div class='body-contactos' style="display: flex;
            align-items: flex-start;
            justify-content: flex-start;flex-direction: column;
            width: 100%;">
              <div class="col-10" style="padding: 6px;margin: 0px !important;">
                <div class="doc-details" style="margin-left: 0 !important;">
                  <p class="doc-name" style="margin-left: 0 !important;font-size: 10px;font-size: 13px;
                  color: black;
                  font-weight: 700;
                  font-family: 'circular';">Doctor Information</p>
                  <p class="doc-meta" style="margin-left: 0 !important;font-size: 10px;">Dr.John , F.I.A.G.E.S ,
                    F.UROGYN(USA), MBBS</p>
                </div>
                <div class="clinic-details" style="margin-left: 0 !important;">
                  <p class="doc-meta" style="margin-left: 0 !important;font-size: 10px;margin-top: 4px;">98546 63473</p>
                  <p class="doc-meta" style="margin-left: 0 !important;font-size: 10px;">Near A2G Appartment</p>
                  <p class="doc-meta" style="margin-left: 0 !important;font-size: 10px;margin-top: 4px;">Trichendur Main
                    Road ,
                  </p>
                  <p class="doc-meta" style="margin-left: 0 !important;font-size: 10px;margin-top: 4px;">
                    Palayamkottai,Thoothukudi
                    Dist-628205
                  </p>

                </div>
              </div>

              <div class="col-10" style="padding: 6px;margin-left: 0px !important;">
                <div class="doc-details" style="margin-left: 0 !important;">
                  <p class="doc-name" style="margin-left: 0 !important;font-size: 10px;font-size: 13px;
                  color: black;
                  font-weight: 700;
                  font-family: 'circular';">Patient Information</p>
                  <p class="doc-meta" style="margin-left: 0 !important;font-size: 10px;">Mr .Selvan</p>
                </div>
                <div class="clinic-details" style="margin-left: 0 !important;">
                  <p class="doc-meta" style="margin-left: 0 !important;font-size: 10px;">45 Years old</p>
                  <p class="doc-meta" style="margin-left: 0 !important;font-size: 10px;margin-top: 4px;">89037 63473</p>
                  <p class="doc-meta" style="margin-left: 0 !important;font-size: 10px;margin-top: 4px;">
                    123,South Street
                  </p>
                  <p class="doc-meta" style="margin-left: 0 !important;font-size: 10px;margin-top: 4px;">
                    Palayamkottai , Perumalpuram- 628205
                  </p>
                  <!-- <p class="doc-meta" style="margin-left: 0 !important;font-size: 10px;margin-top: 4px;">
                    Thoothukudi Dist 
                  </p> -->
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>