<section>
  <div class="content-area">
    <ion-label class="head">Unit Sizes</ion-label>
    <ion-button class="Add" (click)="ActionPopup=true">New +</ion-button>
    <br><br>

    <div class="content-bar" style="background: #009cff;">
      <div class="itemtitle" style="color: white;">Category</div>
      <div class="itemprice" style="color: white;">Unit Measure</div>
      <div class="itemstock" style="color: white;">Unit</div>
      <div class="itemstock" style="color: white;">Size</div>
    </div>

    <div class="content-bar" *ngFor="let item of UnitSizes">
      <div class="itemtitle">{{item.category}}</div>
      <div class="itemprice">{{item.measure}}</div>
      <div class="itemstock">{{item.unit}}</div>
      <div class="itemprice">{{item.size}}</div>
      <div class="btncontainer">

        <button class="cbbtn" (click)="EditManufacture(item)"><ion-icon name="create-outline"></ion-icon></button>
        <button class="cbbtn" (click)="deleteAlert=true"><ion-icon name="trash-outline"></ion-icon></button>
      </div>
    </div>
  </div>


  <div class="form-popup-bg" *ngIf=EditActionPopup>
    <div (click)="EditActionPopup=false"
      style="width: calc(100% -  230px);height: 100%;position: fixed;top: 0;left: 230px;"></div>
    <div class="form-container">
      <button id="btnCloseForm" class="close-button" (click)="EditActionPopup=false" style="color: #0fa2ff;">X</button>
      <h1 style="margin: 10px;text-align: center;
      color: #0fa2ff;">Update Unit Size</h1>
      <form action="">
        <div class="form-group">
          <label for="">Category</label>
          <input type="text" class="form-control" placeholder="Category" style="font-size: 10px;"
            value="{{editData[0].category}}" />
        </div>
        <div class="form-group">
          <label for="">Unit Mesaure</label>
          <input class="form-control" type="text" placeholder="Unit Mesaure" style="font-size: 10px;"
            value="{{editData[0].measure}}" />
        </div>
        <div class="form-group">
          <label for="">Unit</label>
          <input class="form-control" type="text" placeholder="Unit" style="font-size: 10px;"
            value="{{editData[0].unit}}" />
        </div>
        <div class="form-group">
          <label for="">Size</label>
          <input class="form-control" type="text" placeholder="Size" style="font-size: 10px;"
            value="{{editData[0].size}}" />
        </div>

        <button style="padding: 10px;
        font-size: 13px;
        border-radius: 4px;
        text-align: center;
        display: flex;
        justify-content: center;
        float: inline-end;margin-top: 15px;" *ngIf="Addpage==1">Submit</button>
      </form>
    </div>
  </div>


  <div id="myModal" class="modal" *ngIf="deleteAlert" style="display: flex;">
    <div class="modal-dialog modal-confirm"
      style="width: calc(100% - 230px) !important;
    left: 230px !important;margin: 0;display: flex;align-items: center;justify-content: center;max-width:100%;background: #00000047;">
      <div class="modal-content" style="width: 300px !important;">
        <div class="modal-header" style="position: relative;">
          <div class="icon-box" style="position: absolute;right: 10px;">
            <ion-icon name="trash-outline" style="font-size: 30px;"></ion-icon>
          </div>
          <h4 class="modal-title" style="margin-top: 0px;">Are you sure?</h4>
        </div>
        <div class="modal-body">
          <p>Do you really want to delete this Manufacturer ? This process cannot be undone.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal" (click)="Buttons()"
            style="line-height: 17px;background: #b1b1b1;">Cancel</button>
          <button type="button" class="btn btn-danger" (click)="Buttons()" style="line-height: 17px;">Delete</button>
        </div>
      </div>
    </div>
  </div>


  <div class="form-popup-bg" *ngIf=ActionPopup>
    <div (click)="ActionPopup=false"
      style="width: calc(100% -  230px);height: 100%;position: fixed;top: 0;left: 230px;"></div>
    <div class="form-container">
      <button id="btnCloseForm" class="close-button" (click)="ActionPopup=false" style="color: #0fa2ff;">X</button>
      <h1 style="margin: 10px;text-align: center;
      color: #0fa2ff;">New Unit Price</h1>
      <form action="">
        <div class="form-group">
          <label for="">Category</label>
          <input type="text" class="form-control" placeholder="Category" style="font-size: 10px;" />
        </div>
        <div class="form-group">
          <label for="">Unit Mesaure</label>
          <input class="form-control" type="text" placeholder="Unit Mesaure" style="font-size: 10px;" />
        </div>
        <div class="form-group">
          <label for="">Unit</label>
          <input class="form-control" type="text" placeholder="Unit" style="font-size: 10px;" />
        </div>
        <div class="form-group">
          <label for="">Size</label>
          <input class="form-control" type="text" placeholder="Size" style="font-size: 10px;" />
        </div>


        <button style="padding: 10px;
        font-size: 13px;
        border-radius: 4px;
        text-align: center;
        display: flex;
        justify-content: center;
        float: inline-end;margin-top: 15px;">Submit</button>

      </form>
    </div>
  </div>

</section>