// @import url('https://unpkg.com/@webpixels/css@1.1.5/dist/index.css');
// @import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css");


.full {
    width: calc(100% - 195px);
    margin-left: 195px;
}

.card-body {
    flex: 1 1 auto;
    padding: 15px !important;
    color: #525f7f;
}

.bg-primary,
.bg-tertiary,
.bg-info,
.bg-warning {
    --x-bg-opacity: 1;
    background-color: rgb(237 237 237) !important;
}

::-webkit-scrollbar {
    width: 0px;
}

.rowTable {
    // padding: 10px 3px !important;
    font-size: 10px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 70% !important;
}

.Tbody-3 {
    tr td {
        font-size: 70% !important;
    }
}

Thead {
    tr td {
        font-size: 70% !important;
    }
}

.firstGraph {
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 49% 49%;
    gap: 10px;
}

.CanvasDiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.card-body .row .col {
    padding: 0 0 0 10px !important;
}

.bottom {
    font-size: 10px !important;
}

// *****************************Media Code***************************

@media screen and (max-width:576px) {
    .container-fluid {
        padding: 10px !important;
    }

    .firstGraph {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        // grid-template-columns: 49% 49%;
        gap: 10px;
    }

    .table-responsive {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Graphs {
        flex-direction: column !important;

        .secondCanvas {
            height: auto !important;
        }

        .GraphsIn {
            width: 100% !important;

            .Round {
                width: 100%;
                height: auto;
                padding: 12px 0px 0px 4px !important;

                .CanvasDiv {
                    width: 100%;
                    height: 370px;

                    canvas {
                        width: 100%;
                        height: 340px !important;
                    }
                }
            }
        }
    }

    .rowTable {
        font-size: .8125rem !important;
        width: 169px !important;
        justify-content: flex-start !important;
    }

    .TABLE {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        overflow-x: scroll !important;

        .Thead {
            width: 100% !important;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            tr {
                display: grid;
                grid-template-columns: 0.5fr 1fr 0.5fr 1fr 1fr;

                th {
                    width: 170px !important;
                }
            }
        }

        .Tbody {
            width: 100% !important;

            tr {
                display: grid;
                grid-template-columns: 0.5fr 1fr 0.5fr 1fr 1fr;

                td {
                    width: 170px !important;
                }
            }
        }
    }

    .FullTable {
        width: 100% !important;
    }
}

@media (min-width:576px) and (max-width:768px) {
    .Stat {
        display: flex !important;
        align-items: center;
        justify-content: center;
        flex-direction: column !important;

        .Stat-In {
            width: 98% !important;
        }
    }

    .firstGraph {
        display: flex !important;
        flex-direction: column !important;
    }

    .FullTable {
        width: 100% !important;

        .TABLE {
            width: -webkit-fill-available !important;
            overflow-x: scroll;

            thead {
                width: 100%;

                tr {
                    th {
                        min-width: 130px !important;
                    }
                }
            }

            tbody {
                width: 100%;

                tr {
                    td {
                        min-width: 130px !important;
                    }
                }
            }
        }
    }

    .Graphs {
        flex-direction: column !important;

        .GraphsIn {
            width: 100% !important;
        }
    }
}


@media (min-width:769px) and (max-width:992px) {

    .firstGraph {
        display: flex !important;
        flex-direction: column !important;
    }

    .FullTable {
        width: 100% !important;

        .TABLE {
            width: -webkit-fill-available !important;
            overflow-x: scroll;

            thead {
                width: 100%;

                tr {
                    th {
                        min-width: 130px !important;
                    }
                }
            }

            tbody {
                width: 100%;

                tr {
                    td {
                        min-width: 130px !important;
                    }
                }
            }
        }
    }

    .Graphs {
        flex-direction: column !important;

        .GraphsIn {
            width: 100% !important;
        }
    }
}


@media (min-width:992px) {
    .firstGraph {
        display: flex !important;
        flex-direction: row !important;
    }

    .Stat-In {
        width: 25% !important;
    }

    .FullTable {
        width: 100% !important;

        .TABLE {
            width: -webkit-fill-available !important;
            overflow-x: scroll;

            thead {
                width: 100%;

                tr {
                    th {
                        min-width: 130px !important;
                    }
                }
            }

            tbody {
                width: 100%;

                tr {
                    td {
                        min-width: 130px !important;
                    }
                }
            }
        }
    }

    .secondCanvas {
        min-height: 240px !important;

        .Round {
            min-height: 240px !important;

            .CanvasDiv {
                min-height: 240px !important;

                canvas {
                    min-height: 240px !important;
                }
            }
        }
    }

    .Graphs {
        flex-direction: row !important;

        .GraphsIn {
            width: 49% !important;
        }
    }
}