@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);

/* Bootstrap Icons */
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css");


.card-body {
    flex: 1 1 auto;
    padding: 15px !important;
    color: #525f7f;
}

.bg-primary,
.bg-tertiary,
.bg-info,
.bg-warning {
    --x-bg-opacity: 1;
    background-color: rgb(237 237 237) !important;
}

::-webkit-scrollbar {
    width: 0px;
}

.rowTable {
    // padding: 10px 3px !important;
    font-size: 10px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}