<section [ngClass]="{'leftSideMenu':app.Open==false}" *ngIf="OrgAlert" class="fullpage">

  <div style="width: 100px;display: flex;align-items: center;justify-content: flex-start;gap: 5px;color: #007aff;">
    <ion-icon name="arrow-back-outline" (click)="OrgAlert=false" style="font-size: 22px;
  color: #007aff;cursor: pointer;"></ion-icon>Back
  </div>

  <div class="bg-light text-center rounded p-4" style="border-radius: 6px;
  background-color: #ffffff !important;">
    <div class="addTo-In">
      <ion-label class="title">Organization</ion-label>
      <div class="inputs">
        <div class="variable">
          <ion-label>Company Name</ion-label>
        </div>
        <div class="value">
          <ion-input></ion-input>
        </div>
      </div>
      <div class="inputs">
        <div class="variable">
          <ion-label>Email</ion-label>
        </div>
        <div class="value">
          <ion-input></ion-input>
        </div>
      </div>
      <div class="inputs">
        <div class="variable">
          <ion-label>Contact No</ion-label>
        </div>
        <div class="value">
          <ion-input></ion-input>
        </div>
      </div>
      <div class="inputs">
        <div class="variable">
          <ion-label>Address</ion-label>
        </div>
        <div class="value">
          <ion-input></ion-input>
        </div>
      </div>
      <div class="inputs">
        <div class="variable">
          <ion-label>City</ion-label>
        </div>
        <div class="value">
          <ion-input></ion-input>
        </div>
      </div>
      <div class="inputs">
        <div class="variable">
          <ion-label>Country</ion-label>
        </div>
        <div class="value">
          <ion-input></ion-input>
        </div>
      </div>
      <div class="inputs">
        <div class="variable">
          <ion-label>Zip Code</ion-label>
        </div>
        <div class="value">
          <ion-input></ion-input>
        </div>
      </div>
      <div class="inputs">
        <div class="variable">
          <ion-label>Website</ion-label>
        </div>
        <div class="value">
          <ion-input></ion-input>
        </div>
      </div>
      <div class="inputs">
        <div class="variable">
          <ion-label>Company Logo</ion-label>
        </div>
        <div class="value">
          <ion-input type="file"></ion-input>
        </div>
      </div>
      <div class="addToBtn">
        <div class="submit">
          <ion-label>Update</ion-label>
        </div>
      </div>
    </div>
    <div class="addTo-In Alert">
      <ion-label class="title">Alert Setting</ion-label>
      <div class="inputs AlertInput" *ngFor="let item of AlertSetting;let i = index">
        <label class="square-radio">
          <img src="{{selectedCheckbox == item.id ? item.checkedImg : item.uncheckedImg}}" alt=""
            (click)="selectBox(item.id)">
        </label>
        <div class="variable AlertVariable" [ngClass]="{'selectVariable':selectedCheckbox == item.id}">
          <ion-label>{{item.name}}</ion-label>
        </div>
        <div class="value" [ngClass]="{'selectValue':selectedCheckbox == item.id}">
          <ion-input [readonly]="selectedCheckbox !== item.id" [(ngModel)]="inputValue"
            style="color: white;"></ion-input>
        </div>
      </div>
      <div class="addToBtn Save">
        <div class="submit">
          <ion-label>Save</ion-label>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="fullpage1" *ngIf="!OrgAlert && !manageUser">
  <div class="grey-bg container-fluid" style="width: 100%;height: 100%;">
    <section id="minimal-statistics">
      <div class="row">
        <div class="col-12 mt-3 mb-1">
          <h4 class="head">Settings</h4>
        </div>
      </div>
      <div class="row" style="row-gap: 20px;">
        <div class="col-xl-3 col-sm-6 col-12">
          <div class="card">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="align-self-center">
                    <img src="../../assets/img/organization.svg" alt="" style="width: 60px;">
                  </div>
                  <div class="media-body text-right" style="text-align: start;
                  width: 100%;
                  margin-left: 10px;">
                    <span>Organization & Alert</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-sm-6 col-12" (click)="notifyType=true">
          <div class="card">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="align-self-center">
                    <img src="../../assets/img/notification_type.svg" alt="" style="width: 60px;">
                  </div>
                  <div class="media-body text-right" style="text-align: start;
                  width: 100%;
                  margin-left: 10px;">
                    <span>Notification Type</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12" (click)="Schedule=true">
          <div class="card">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="align-self-center">
                    <img src="../../assets/img/notification_schedule.svg" alt="" style="width: 60px;">
                  </div>
                  <div class="media-body text-right" style="text-align: start;
                  width: 100%;
                  margin-left: 10px;">
                    <span>Notification Schedule</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-sm-6 col-12" (click)="See('ManageUser')">
          <div class="card">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="align-self-center">
                    <img src="../../assets/img/manage_user.svg" alt="" style="width: 60px;">
                  </div>
                  <div class="media-body text-right" style="text-align: start;
                  width: 100%;
                  margin-left: 10px;">
                    <span>Manage User</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-sm-6 col-12" (click)="See('Manage_Patients')">
          <div class="card">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="align-self-center">
                    <img src="../../assets/img/manage_patient.svg" alt="" style="width: 60px;">
                  </div>
                  <div class="media-body text-right" style="text-align: start;
                  width: 100%;
                  margin-left: 10px;">
                    <span>Manage Patient</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>


  <div *ngIf="notifyType" class="Social">
    <div style="width: 100%;height: 100%;position: fixed;top: 0;z-index: -1;" (click)="notifyType=false"></div>
    <div class="notifyBox">
      <ion-label style="font-size: 13px;
      color: black;
      font-weight: bold;
      padding: 10px;">Notification Type</ion-label>
      <div class="notifyTab">
        <div class="notifyTab-In" [ngClass]="{'notifitabActive':notifyTab==1}" (click)="tab(1)">
          <ion-label>Choose one</ion-label>
        </div>
        <div class="notifyTab-In" [ngClass]="{'notifitabActive':notifyTab==2}" (click)="tab(2)">
          <ion-label>Choose Multiple</ion-label>
        </div>
      </div>

      <!-- ******ONE****** -->

      <div class="types" *ngIf="notifyTab==1">
        <div class="typesIn">
          <ion-label>Whatsapp</ion-label>
          <input type="checkbox" [checked]="ChooseoneId==1" (click)="chooseOnecheck(1)">
        </div>
        <div class="typesIn">
          <ion-label>SMS</ion-label>
          <input type="checkbox" [checked]="ChooseoneId==2" (click)="chooseOnecheck(2)">
        </div>
        <div class="typesIn">
          <ion-label>Mail</ion-label>
          <input type="checkbox" [checked]="ChooseoneId==3" (click)="chooseOnecheck(3)">
        </div>
      </div>

      <!-- ******MULTIPLE****** -->

      <div class="types" *ngIf="notifyTab==2">
        <div class="typesIn">
          <ion-label>Whatsapp</ion-label>
          <input type="checkbox">
        </div>
        <div class="typesIn">
          <ion-label>SMS</ion-label>
          <input type="checkbox">
        </div>
        <div class="typesIn">
          <ion-label>Mail</ion-label>
          <input type="checkbox">
        </div>
      </div>


      <ion-button style="font-size: 10px;" (click)="notifyType=false">Done</ion-button>
    </div>
  </div>


  <div class="form-popup-bg" *ngIf="Schedule">
    <div (click)="Schedule=false" style="width: calc(100% -  195px);height: 100%;position: fixed;top: 0;left: 195px;">
    </div>
    <div class="form-container">
      <button id="btnCloseForm" class="close-button" (click)="Schedule=false" style="color: #0fa2ff;">X</button>
      <h1 style="margin: 10px;text-align: center;
      color: #0fa2ff;">Schedule Notification</h1>
      <form action="">
        <div class="form-group">
          <label for="">Select Schedule</label>
          <select name="" id="" style="width: 100%;
          border: 1px solid #cfcfcf;
          border-radius: 4px; color: black;" [(ngModel)]="DailySchedule" (change)="ChooseSchedule($event)">
            <option value="{{item.name}}" *ngFor="let item of ScheduleList" style="color: black;">{{item.name}}
            </option>
          </select>

          <input type="text" (click)="week(DailySchedule)" *ngIf="DailySchedule=='Weekly'" style="width: 100%;
          margin-top: 10px;
          border: 1px solid #cecdcd;
          border-radius: 4px;">
          <input type="text" (click)="week(DailySchedule)" *ngIf="DailySchedule=='Monthly'" style="width: 100%;
          margin-top: 10px;
          border: 1px solid #cecdcd;
          border-radius: 4px;">

        </div>

        <button style="padding: 10px;
        font-size: 13px;
        border-radius: 4px;
        text-align: center;
        display: flex;
        justify-content: center;
        float: inline-end;margin-top: 15px;" (click)="Schedule=false">Submit</button>
      </form>
    </div>
  </div>



  <div class="form-popup-bg" *ngIf="SchedulePop">
    <div (click)="SchedulePop=false"
      style="width: calc(100% -  195px);height: 100%;position: fixed;top: 0;left: 195px;">
    </div>
    <div class="form-container">
      <button id="btnCloseForm" class="close-button" (click)="SchedulePop=false" style="color: #0fa2ff;">X</button>
      <h1 style="margin: 10px;text-align: center;
      color: #0fa2ff;">{{SchedulePopTitle}}</h1>
      <form action="" style="display: grid;
      grid-template-columns: 50% 50%; ">
        <div *ngFor="let item of SchedulePopData" style="display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;margin-top: 11px;">
          <input type="checkbox" style="font-size: 10px;width: auto;" (change)="ScheduleCheck($event,item.name)" />
          <p style="color: #0fa2ff;margin: 0;">{{item.name}}</p>
        </div><br>

        <button style="padding: 10px;
        font-size: 13px;
        border-radius: 4px;
        text-align: center;
        display: flex;
        justify-content: center;
        float: inline-end;margin-top: 15px;" (click)="SchedulePop=false">Submit</button>
      </form>
    </div>
  </div>
</section>



<!-- <section [ngClass]="{'leftSideMenu':app.Open==false}" *ngIf="manageUser" class="ManageFull">
  <div class="txt">
    <ion-label class="head">Add User</ion-label>
    <div class="txt-btn">
      <div class="resetBtn">
        <ion-label>Reset</ion-label>
      </div>
      <div class="addBtn">
        <ion-label>Add</ion-label>
      </div>
    </div>
  </div>

  <div class="bg-light text-center rounded p-4" style="border-radius: 6px;
  background-color: #ffffff !important;">
    <div class="addTo-In">


      <div class="camera">
        <input type="file" style="display: none;" (change)="handleImageSelect($event)" #imageInput>
        <img src="{{imageUrl==undefined ? cameraimageUrl : imageUrl}}" alt="" (click)="handleImageClick()">
      </div>

      <div class="details">
        <div class="details_1">
          <ion-label class="detailName">Personal Info</ion-label>
          <div class="inputs">
            <div class="variable">
              <ion-label>Name</ion-label>
            </div>
            <div class="value">
              <ion-input></ion-input>
            </div>
          </div>

          <div class="inputs">
            <div class="variable">
              <ion-label>Date of Birth</ion-label>
            </div>
            <div class="value">
              <ion-input></ion-input>
            </div>
          </div>

          <div class="inputs">
            <div class="variable">
              <ion-label>Gender</ion-label>
            </div>
            <div class="value gender">
              <div class="gender1" (click)="PickGender('Male')">
                <img [src]="Gender === 'Male' ? '../../assets/img/checked.svg' : '../../assets/img/unchecked.svg'"
                  alt="">
                <ion-label>Male</ion-label>
              </div>
              <div class="gender1" (click)="PickGender('Female')">
                <img [src]="Gender === 'Female' ? '../../assets/img/checked.svg' : '../../assets/img/unchecked.svg'"
                  alt="">
                <ion-label>Female</ion-label>
              </div>
            </div>
          </div>

          <div class="inputs">
            <div class="variable">
              <ion-label>Role</ion-label>
            </div>
            <div class="value">
              <ion-input></ion-input>
            </div>
          </div>
        </div>

        

      </div>

      <div class="details two">
       

        <div class="details_1">
          <ion-label class="detailName">Contact Info</ion-label>
          <div class="inputs">
            <div class="variable">
              <ion-label>Email</ion-label>
            </div>
            <div class="value">
              <ion-input></ion-input>
            </div>
          </div>

          <div class="inputs">
            <div class="variable">
              <ion-label>Contact no</ion-label>
            </div>
            <div class="value">
              <ion-input></ion-input>
            </div>
          </div>
        </div>

      

      </div>

    </div>


    <div class="bg-light text-center rounded p-4" style="border-radius: 6px;
  background-color: #ffffff !important;">


      <div class="table-responsive">
        <table class="table text-start align-middle table-bordered table-hover mb-0">
          <thead style="background-color: #C2C2C2;">
            <tr class="text-dark">
              <th scope="col" style="border-radius: 10px 0px 0px 10px;">Img</th>
              <th scope="col">Name</th>
              <th scope="col">Date of Birth</th>
              <th scope="col">Role</th>
              <th scope="col">Contact No</th>
              <th scope="col">Email</th>
              <th scope="col" style="border-radius: 0px 10px 10px 0px;">Gender</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <img src="../../assets/img/user1.jpg" alt="" class="user">
              </td>
              <td>Vijay</td>
              <td>05 Mar 2001</td>
              <td>Employee</td>
              <td>6474746764</td>
              <td>Emp&commat;gmail.com</td>
              <td>Male</td>
            </tr>
            <tr>
              <td>
                <img src="../../assets/img/user3.jpg" alt="" class="user">
              </td>
              <td>Bala</td>
              <td>26 Aug 1992</td>
              <td>Admin</td>
              <td>6476470923</td>
              <td>Admin&commat;gmail.com</td>
              <td>Male</td>
            </tr>
            <tr>
              <td>
                <img src="../../assets/img/user2.jpg" alt="" class="user">
              </td>
              <td>Muthu</td>
              <td>13 Apr 2002</td>
              <td>Admin</td>
              <td>0923453245</td>
              <td>Admin&commat;gmail.com</td>
              <td>Female</td>
            </tr>
            <tr>
              <td>
                <img src="../../assets/img/user4.jpg" alt="" class="user">
              </td>
              <td>Krishna</td>
              <td>05 Feb 1999</td>
              <td>Employee</td>
              <td>5689122097</td>
              <td>Emp&commat;gmail.com</td>
              <td>Male</td>
            </tr>
            <tr>
              <td>
                <img src="../../assets/img/user5.jpg" alt="" class="user">
              </td>
              <td>Suresh</td>
              <td>02 Jan 2000</td>
              <td>User</td>
              <td>0328475902</td>
              <td>user&commat;gmail.com</td>
              <td>Female</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>



  </div>

</section> -->